<body>
    <h1>Magic Question Machine</h1>
    <div id="view">
        <p >No Question Displayed Currently.</p>
    </div>
    <h2>Add a Question</h2>
    <form id="questionForm" #questionForm="ngForm">
        <label for="name">Question Title</label>
        <input type="text" name="name" id="qtitle" ngModel>
        <br>
        <label for="description">Question Description</label>
        <textarea type="text" name="description" id="description" ngModel></textarea>
        <br>
        <label for="category">Question Category</label>
        <input type="text" name="category" id="qcategory" ngModel>
        <br>
        <label for="complexity">Question Complexity</label>
        <select name="complexity" id="qcomplexity" ngModel>
            <option value="Easy" selected>Easy</option>
            <option value="Medium">Medium</option>
            <option value="Hard">Hard</option>
        </select>
        <br>
        <button type="button" (click)="addItem(questionForm)">Save Question</button>
    </form>
    <hr>
    <table id="table">
      <tr>
          <th>Question ID</th>
          <th>Question Title</th>
          <th>Question Description</th>
          <th>Question Category</th>
          <th>Question Complexity</th>
          <th>Actions</th>
      </tr>
      <tr *ngFor="let question of questions; index as index" (click)="view(index)">
        <td>{{index + 1}}</td>
              <td>{{question.name}}</td>
              <td>{{question.description}}</td>
              <td>{{question.category}}</td>
              <td>{{question.complexity}}</td>
              <td>
                  <button class="btn" onclick="editItem(index)">Edit</button>
                  <button class="btn" onclick="deleteItem(index)">Delete</button>
              </td>
      </tr>
    </table>
</body>