body {
    font-family: arial;
}
tr {
    display: flex;
}
th {
    width: 20%;
    border: 1px solid #777;
    padding: 10px;
    background-color: cornsilk;
}
td {
    width: 20%;
    border: 1px solid #777;
    padding: 10px;
    overflow: scroll;
}
tr:nth-of-type(even) {
    background: #efefef;
}