input.ng-invalid.ng-touched {
  border: red 1px solid;
}

.question-description-id{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  max-width: 300px;
}
div{
  white-space: pre-line;
}
.form-control {
  white-space: pre-line;
}