<mat-card class="chat-box">
  <button class="chat-header" mat-button (click)="toggleCollapsed()">
    <mat-card-title>Room Chat</mat-card-title>
  </button>
  <mat-card-content *ngIf="isCollapsed">
    <div class="scrollable-container" id="scrollable-container">
      <div *ngFor="let message of messageLog">
        <mat-card class="message">{{message}}</mat-card>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="isCollapsed">
    <textarea class="message-input"
      [(ngModel)]="message"
      (keydown)="onKeydown($event)"
    ></textarea>
    <button mat-button (click)="emitMessage()"><mat-icon>send</mat-icon></button>
  </mat-card-actions>
</mat-card>
