.chat-box {
  width: 18vw;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: lightgrey;
}

.chat-header {
  justify-content: left;
  background-color: white;
}

.chat-log {
  padding-left: 5px;
  padding-right: 5px;
}

.scrollable-container {
  height: 25vh;
  overflow: auto;
}

.message {
  overflow: hidden;
  word-wrap: break-word;
  width: max-content;
  max-width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
  white-space: pre-line;
}

.chat-input {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: space-around;
}

.message-input {
  resize: none;
  height: 40px;
}

.chat-send {
  display: flex;
  justify-content: center;
  align-items: center;
}