<mat-card class="chat-box">
  <button class="chat-header" mat-button (click)="toggleCollapsed()">
    <mat-card-title style="font-size: 100%;">Room Chat</mat-card-title>
  </button>
  <mat-card-content class="chat-log" *ngIf="!isCollapsed">
    <div class="scrollable-container" id="scrollable-container">
      <div *ngFor="let message of messageLog">
        <div *ngIf="message[0] == '0'; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <div class="message-alignment">
            <mat-card class="message-user-0">{{ message[1] }}</mat-card>
          </div>
        </ng-template>
        <ng-template #elseBlock>
          <div class="message-alignment">
            <mat-card class="message-user-1">{{ message[1] }}</mat-card>
          </div>
        </ng-template>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="chat-input" *ngIf="!isCollapsed">
    <textarea class="message-input"
      [(ngModel)]="message"
      (keydown)="onKeydown($event)"
    ></textarea>
    <button class="chat-send" mat-icon-button (click)="emitMessage()"><mat-icon>send</mat-icon></button>
  </mat-card-actions>
</mat-card>
