.flex-container {
  display: flex;
  flex-direction: row;
}

.question-container {
  height: calc(99vh - 56px);
  flex: 1;
  overflow: auto;
}

.column {
  position: relative;
  flex: 3;
}

.editor-container {
  height: calc(99vh - 56px);
}

.monaco-editor {
  height: 100%;
}