<div class="form-container">
  <ng-container *ngIf="!isFormSubmitted; else successMessage">
    <form appearance="fill" id="updatePwForm" #updatePwForm="ngForm" (ngSubmit)="changePw()" (keydown.enter)="changePw(); $event.preventDefault()">
      <h2>Change your password</h2>
      <div class="input-container">
      <input class="form-control" type="password" name="newPassword" placeholder="New Password" [(ngModel)]="newPassword" minlength="6" required>
      </div>
      <div class="button-container">
        <button class="btn btn-danger" color="warn" (click)="onNoClick()">Close</button>
        <button class="btn btn-primary" [disabled]="!updatePwForm.valid" (click)="changePw()">Save</button>
      </div>
      <mat-error *ngIf="newPassword.length > 0 && newPassword.length < 6">Password must be at least 6 characters long!</mat-error>
    </form>
    </ng-container>
    <ng-template #successMessage>
      <div class="alert-container">
        <div class="alert alert-success" *ngIf="isFormSubmitted && !isError">
          {{ response }}
        </div>
        <div *ngIf="isFormSubmitted && isError" class="alert alert-danger">
          {{ response }}
        </div>
        <button class="btn btn-primary" (click)="onNoClick()">Close</button>
      </div>
    </ng-template>
</div>